@model IEnumerable<Drug>

@{
    ViewData["Title"] = "Фахриева Айгуль Айдаровна";
}

<div class="row justify-content-end w-100 mt-4">
    <div class="col-6">
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    <strong class="w-100 pb-1" style="font-size: 1.1rem">Поиск:</strong>
                    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" class="w-50 border-info" />
                    <button type="submit" class="btn btn-info w-25">Искать</button>
                </p>
            </div>
        </form>
    </div>
</div>
<h2 class="text-center text-primary">Препараты</h2>
<table class="table table-sm table-hover w-100 mt-3 pb-2 cell-centered">
    <thead class="table-info">
        <tr>
            <th></th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" class="link link-primary page-link">Название</a></th>
            <th>Описание</th>
            <th><a asp-action="Index" asp-route-sortOrder="@ViewData["IllnesSortParm"]" class="link link-primary page-link">Код болезни</a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var drug in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Drug" asp-action="Edit" asp-route-id="@drug.Id" class="btn btn-outline-warning w-100">Редактировать</a>
                </td>
                <td>
                    @drug.Name
                </td>
                <td>
                    @drug.Description
                </td>
                <td>
                    @drug.IllnesId
                </td>
                <td>
                    <a asp-controller="Drug" asp-action="Delete" asp-route-id="@drug.Id" class="btn btn-outline-danger w-100">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>